.title {
    display: flex;
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(75, 75, 75);
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.comments {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}